body{
    background-image: url(../img/wall.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
img
{
    height: 250px;
    width: 33.33%;
}
button
{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card
{
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 33.33%;
    height: 50%;
    float: left;
    background-image: url("../img/cardbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    color:antiquewhite;
    display: table;
    background-size: cover;
}
.card:hover
{
    box-shadow: 0 8px 16px 0 black;
}
.container
{
    padding: 2px 16px;
}
.row
{
 margin: 0 -5px;  
 width: 50rem;
 margin: auto; 
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
h1{
    font-size: 100px;
}
.home
{
    margin: 25px;
    display: inline-block;
    width: fit-content;
    background-color: inherit;
}